@model IAMCandidateTest.Models.ViewModels.AnimalViewModel

<div>
    <h4>@Model.Name Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LegCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LegCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WingCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WingCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CanFly)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CanFly)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxPhylum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxPhylum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxClass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxClass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxFamily)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxFamily)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxGenus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxGenus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxSpecies)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxSpecies)
        </dd>
    </dl>
</div>
